<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kickly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Classes.Kickly"
        android:allowBackup="true"
        android:icon="@drawable/football"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.ManageActivities.ManageTournamentsActivities.CreateTournament"></activity>
        <activity android:name=".Activities.ManageActivities.ManageTournamentsActivities.ManageTournamentActivities.ManageTournamentMatchesActivities.AddMatchSelectGroup" />
        <activity android:name=".Activities.ManageActivities.ManageTournamentsActivities.ManageTournamentActivities.ManageTournamentMatchesActivities.AddMatchSelectTeam" />
        <activity android:name=".Activities.ManageActivities.ManageTournamentsActivities.ManageTournamentActivities.ManageTournamentMatchesActivities.AddMatch" />
        <activity android:name=".Activities.ManageActivities.ManageTournamentsActivities.ManageTournamentActivities.ManageTournamentMatchesActivities.MatchFinish" />
        <activity android:name=".Activities.ManageActivities.ManageTournamentsActivities.ManageTournamentActivities.ManageTournamentTeamsActivities.SelectGroup" />
        <activity android:name=".Activities.ManageActivities.ManageTournamentTeam" />
        <activity android:name=".Activities.ManageActivities.ManageTournamentMatches" />
        <activity android:name=".Activities.ManageActivities.ManageTournamentTeams" />
        <activity android:name=".Activities.ManageActivities.ManageTournament" />
        <activity android:name=".Activities.ManageActivities.TeamImagePicker" />
        <activity android:name=".Activities.ManageActivities.ManageTeam" />
        <activity android:name=".Activities.ManageActivities.ManageLocation" />
        <activity android:name=".Activities.ManageTournaments" />
        <activity android:name=".Activities.ManageTeams" />
        <activity android:name=".Activities.ManageLocations" />
        <activity android:name=".Activities.WatchingActivities.TournamentActivities.MatchPrognosis" />
        <activity android:name=".Activities.WatchingActivities.TournamentActivities.MatchStats" />
        <activity android:name=".Activities.WatchingActivities.TournamentActivities.MatchesActivity" />
        <activity android:name=".Activities.WatchingActivities.TournamentActivities.TeamsActivity" />
        <activity android:name=".Activities.WatchingActivities.TournamentActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".ManageActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".WatchingActivity" />
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>